/* fonts */
/* colors */
/* _______________________ NORMALIZE _______________________ */
a:active,
a:hover {
  outline-width: 0;
}

strong {
  font-weight: bold;
}

textarea {
  resize: none;
  overflow: auto;
}

input,
textarea {
  outline: none;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: inherit;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: inherit;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:hover:-moz-placeholder,
textarea:hover:-moz-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:hover:-ms-input-placeholder,
textarea:hover:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* _______________________ Fonts ____________________  */
/* russo-one-regular - latin_cyrillic */
@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/russo-one-v9-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/russo-one-v9-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/muller-regular.woff2") format("woff2"), url("../fonts/muller-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/muller-medium.woff2") format("woff2"), url("../fonts/muller-medium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* _______________________ Grid ___________________________ */
html,
body,
.wrapper {
  min-height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  margin-top: auto;
}

.container {
  width: 100%;
  padding: 0 9px;
  margin: 0 auto;
  max-width: 1230px;
}

.container--np {
  padding: 0;
}

@media (min-width: 569px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 737px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

/* _______________________ Page Styles ____________________  */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden,
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 15.2px;
  line-height: 1.53;
  font-weight: 400;
  color: #000000;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ________Styles________ */
/* header start*/
.header {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 6px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #f7e200;
}

@media (min-width: 737px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0 19px;
  }
}

.logo {
  position: relative;
  width: 125px;
  height: 21px;
  margin: 9px auto 14px;
}

@media (min-width: 737px) {
  .logo {
    margin: 0 100px 0 0;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 256px;
    height: 41px;
    margin-right: 50px;
  }
}

@media (min-width: 991px) {
  .logo {
    margin-right: 124px;
  }
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

@media (min-width: 737px) {
  .menu {
    width: auto;
  }
}

@media (min-width: 768px) {
  .menu__item {
    position: relative;
  }
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 13px 6px;
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .menu__link {
    font-size: 16px;
  }
}

@media (min-width: 991px) {
  .menu__link {
    padding: 10px 11px 9px;
    margin: 0 10.5px;
    font-size: 18px;
  }
}

.menu__link.active {
  background-color: #6b1687;
  color: #ffffff;
}

.menu__item:hover .menu__link,
.menu__item:focus .menu__link {
  background-color: #6b1687;
  color: #ffffff;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  display: none;
  width: 300px;
  margin: 0;
  padding: 21px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
}

@media (min-width: 768px) {
  .submenu {
    top: calc(100% + 14px);
  }
}

.submenu__link {
  padding: 8px 10px;
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 16.5px;
  line-height: 2.2;
  font-weight: 400;
  color: #6b1687;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .submenu__link {
    padding: 10px;
    font-size: 18px;
  }
}

.submenu__link:hover, .submenu__link:focus {
  color: #ffffff;
  background-color: #f21d8c;
}

/*header end*/
/* promo start */
.promo {
  position: relative;
  width: 100%;
  min-height: 186px;
  padding-bottom: 50%;
}

@media (min-width: 737px) {
  .promo {
    padding-bottom: 40%;
  }
}

@media (min-width: 991px) {
  .promo {
    padding-bottom: 0;
    height: 500px;
  }
}

@media (min-width: 1400px) {
  .promo {
    background-color: #ffd006;
  }
  .promo__container {
    position: relative;
    max-width: 1400px;
    height: 500px;
    margin: 0 auto;
  }
}

.promo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* promo end */
/* about start */
.about {
  padding: 31px 0 13px;
}

@media (min-width: 991px) {
  .about {
    padding: 81px 0 92px;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 991px) {
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 991px) {
  .about__description {
    width: 467px;
    padding-top: 40px;
  }
}

.about h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 20px;
}

@media (min-width: 991px) {
  .about h2 {
    margin-left: -20px;
    margin-bottom: 30px;
  }
}

.about h2 span {
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 24.5px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}

.about h2 span:nth-child(odd) {
  min-width: 231px;
  padding: 10px 27px 10px 17px;
  font-size: 29px;
  background-color: #f21d8c;
  -webkit-clip-path: polygon(0 0, 96% 11%, 92% 100%, 4% 100%);
          clip-path: polygon(0 0, 96% 11%, 92% 100%, 4% 100%);
}

@media (min-width: 768px) {
  .about h2 span:nth-child(odd) {
    font-size: 36px;
  }
}

@media (min-width: 991px) {
  .about h2 span:nth-child(odd) {
    padding-right: 50px;
  }
}

.about h2 span:nth-child(even) {
  min-width: 299px;
  margin-top: -14px;
  padding: 4px 17px 6px;
  background-color: #89278e;
  -webkit-clip-path: polygon(0 10%, 100% 0, 97% 100%, 3% 97%);
          clip-path: polygon(0 10%, 100% 0, 97% 100%, 3% 97%);
}

@media (min-width: 768px) {
  .about h2 span:nth-child(even) {
    font-size: 30px;
  }
}

@media (min-width: 991px) {
  .about h2 span:nth-child(even) {
    padding-right: 25px;
  }
}

.about p {
  width: 100%;
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  .about p {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about__images {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: calc((180 / 300) * 100%);
}

@media (min-width: 768px) {
  .about__images {
    width: 670px;
    height: 390px;
    padding-bottom: 0;
    margin: 0 auto 30px;
  }
}

@media (min-width: 991px) {
  .about__images {
    margin: 0;
    height: auto;
    padding-bottom: 33%;
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
}

.about__image {
  position: absolute;
  overflow: hidden;
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__image--big {
  top: 1px;
  right: -5px;
  z-index: 1;
  width: calc((233 / 300) * 100%);
  padding-bottom: calc((176 / 300) * 100%);
  border-top-left-radius: 45%;
  border-top-right-radius: 41%;
  border-bottom-left-radius: 51%;
  border-bottom-right-radius: 59%;
}

.about__image--big img {
  -webkit-clip-path: url("#about-big-image-mask");
          clip-path: url("#about-big-image-mask");
}

.about__image--big svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__image--middle {
  top: 0;
  left: 0;
  width: calc((110.6 / 300) * 100%);
  padding-bottom: calc((110.3 / 300) * 100%);
  border-radius: 50%;
}

.about__image--small {
  bottom: 0;
  left: 22px;
  z-index: 2;
  width: calc((86 / 300) * 100%);
  padding-bottom: calc((87 / 300) * 100%);
  border-radius: 50%;
}

@media (min-width: 991px) {
  .about__image--small {
    bottom: -5px;
    left: 50px;
  }
}

/* about end */
/* category start*/
.category {
  position: relative;
  width: 100%;
}

.category__header {
  position: relative;
  padding: 28px 0 2px 2px;
  background: url("../images/category-header-bg-mb.png") no-repeat center/cover transparent;
}

@media (min-width: 768px) {
  .category__header {
    padding: 48px 0 22px 2px;
  }
}

@media (min-width: 991px) {
  .category__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 410px;
    padding-top: 107px;
    padding-bottom: 107px;
    background: url("../images/category-header-bg.png") no-repeat left center/60% 100% transparent;
  }
}

@media (min-width: 1200px) {
  .category__header {
    background: url("../images/category-header-bg.png") no-repeat left center/49% 100% transparent;
  }
}

.category__header p {
  width: 100%;
  margin: 0 0 22px;
  padding: 0;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 12.7px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.13px;
}

@media (min-width: 768px) {
  .category__header p {
    font-size: 17px;
  }
}

@media (min-width: 991px) {
  .category__header p {
    max-width: 462px;
  }
}

.category__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media (min-width: 991px) {
  .category__description {
    width: 534px;
  }
}

.category__bg {
  display: none;
}

@media (min-width: 991px) {
  .category__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.category__bg-small {
  display: none;
}

@media (min-width: 1400px) {
  .category__bg-small {
    position: absolute;
    right: 4px;
    bottom: 13px;
    z-index: 1;
    display: block;
    width: 327px;
    height: 327px;
    border-radius: 50%;
  }
}

.category__name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 24px 7px 15px;
  margin-bottom: 11px;
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 12.7px;
  line-height: 1.89;
  font-weight: 400;
  color: #ffffff;
  background-color: #f21d8c;
  -webkit-clip-path: polygon(0 0, 96% 11%, 92% 100%, 4% 100%);
          clip-path: polygon(0 0, 96% 11%, 92% 100%, 4% 100%);
}

@media (min-width: 768px) {
  .category__name {
    font-size: 18px;
  }
}

@media (min-width: 991px) {
  .category__name {
    padding: 10px 33px 9px 24px;
    margin-bottom: 19px;
  }
}

.category h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 17px;
  padding: 0;
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 22.9px;
  line-height: 1.11;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.25px;
}

@media (min-width: 768px) {
  .category h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .category h2 {
    margin-bottom: 25px;
  }
}

.category--big-title h2 {
  margin-bottom: 17px;
  font-size: 25.4px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .category--big-title h2 {
    font-size: 48px;
    line-height: 1;
  }
}

.category__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6px 0 54px;
}

@media (min-width: 737px) {
  .category__goods {
    padding: 30px 0;
  }
}

@media (min-width: 768px) {
  .category__goods {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 991px) {
  .category__goods {
    position: relative;
    padding: 57px 0 107px;
  }
  .category__goods::before {
    position: absolute;
    left: 0;
    bottom: calc(100% - 5px);
    width: 337px;
    height: 107px;
    background: url("../images/top-bg-white.png") no-repeat left center/contain transparent;
    content: "";
  }
}

.category--violet .category__goods {
  background-color: #89278e;
}

@media (min-width: 991px) {
  .category--violet .category__goods::before {
    background-image: url("../images/top-bg-violet.png");
  }
}

.category__slider {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 991px) {
  .category__list {
    padding: 0 12px;
  }
}

.category__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 50%;
  padding: 10px;
}

@media (min-width: 569px) {
  .category__item {
    width: calc(100%/3);
    min-width: calc(100%/3);
  }
}

@media (min-width: 1400px) {
  .category__item {
    width: 25%;
    min-width: 25%;
  }
}

.category__img {
  position: relative;
  width: 100%;
  height: 143px;
  margin-bottom: 12px;
}

@media (min-width: 991px) {
  .category__img {
    height: 280px;
    margin-bottom: 20px;
  }
}

.category__img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 123px;
  height: 143px;
  background-color: #f1f1f1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
}

@media (min-width: 991px) {
  .category__img::before {
    width: 241px;
    height: 280px;
  }
}

.category__img--nbg::before {
  background-color: transparent;
}

.category__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.category--img-nbg .category__img::before {
  background-color: transparent;
}

.category__title {
  margin: 0;
  padding: 0 10px;
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 10px;
  line-height: 1.3;
  font-weight: 400;
  color: #89278e;
  text-align: center;
}

@media (min-width: 768px) {
  .category__title {
    padding: 0 15px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .category__title {
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.category--violet .category__title {
  color: #ffffff;
}

.category__nav {
  position: relative;
  padding: 0;
  width: 54px;
  height: 42px;
  border: none;
  background: url("../images/arr.png") no-repeat center/contain transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .category__nav {
    background-image: url("../images/arr@2x.png");
  }
}

@media (min-width: 1024px) {
  .category__nav {
    position: absolute;
    top: 50%;
    width: 54px;
    height: 39px;
  }
}

.category__nav:hover::before, .category__nav:focus::before {
  border-color: #89278e;
}

.category__nav::before {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 1px);
  width: 9px;
  height: 9px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
}

.category__nav--prev {
  margin: 2px 16px 5px auto;
}

@media (min-width: 768px) {
  .category__nav--prev {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .category__nav--prev {
    left: 25px;
    margin: 0;
    -webkit-transform: scale(1.2) translateY(-50%);
            transform: scale(1.2) translateY(-50%);
  }
}

@media (min-width: 1600px) {
  .category__nav--prev {
    left: auto;
    right: calc(100vw/2 + 673px);
    -webkit-transform: scale(1.9) translateY(-50%);
            transform: scale(1.9) translateY(-50%);
  }
}

.category__nav--next {
  margin: 2px auto 5px 15px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

@media (min-width: 768px) {
  .category__nav--next {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .category__nav--next {
    right: 25px;
    margin: 0;
    -webkit-transform: scale(-1, 1) scale(1.2) translateY(-50%);
            transform: scale(-1, 1) scale(1.2) translateY(-50%);
  }
}

@media (min-width: 1600px) {
  .category__nav--next {
    left: calc(100vw/2 + 662px);
    -webkit-transform: scale(-1, 1) scale(1.9) translateY(-50%);
            transform: scale(-1, 1) scale(1.9) translateY(-50%);
  }
}

/* category end*/
/* feedback start */
.feedback {
  width: 100%;
  padding: 40px 0;
  background-color: #89278e;
}

@media (min-width: 768px) {
  .feedback {
    background-color: #f7e200;
  }
}

@media (min-width: 991px) {
  .feedback {
    padding: 137px 0 4px;
    background-color: transparent;
  }
}

.feedback form {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feedback form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 75px 52px 64px 60px;
    background-color: #89278e;
    border-top-left-radius: 65%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 65%;
  }
}

.feedback__title {
  width: 100%;
  margin: 0 0 18px;
  padding: 0;
  font-family: "Russo One", "Arial", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.feedback__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 33px;
  padding: 0;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 15.2px;
  line-height: 1.33;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .feedback__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    font-size: 16px;
  }
  .feedback__text span {
    margin-right: 7px;
  }
}

.feedback__item {
  position: relative;
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  .feedback__item {
    width: 210px;
  }
  .feedback__item--fluid {
    width: 100%;
  }
}

.feedback__item input:not(.visually-hidden),
.feedback__item textarea {
  width: 100%;
  height: 45px;
  padding: 15px 21px 13px;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid #ffffff;
}

.feedback__item input:not(.visually-hidden)::-webkit-input-placeholder, .feedback__item textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

.feedback__item input:not(.visually-hidden)::-moz-placeholder, .feedback__item textarea::-moz-placeholder {
  color: #aaaaaa;
}

.feedback__item input:not(.visually-hidden):-ms-input-placeholder, .feedback__item textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

.feedback__item input:not(.visually-hidden)::-ms-input-placeholder, .feedback__item textarea::-ms-input-placeholder {
  color: #aaaaaa;
}

.feedback__item input:not(.visually-hidden)::placeholder,
.feedback__item textarea::placeholder {
  color: #aaaaaa;
}

.feedback__item input:not(.visually-hidden)::-moz-placeholder,
.feedback__item textarea::-moz-placeholder {
  line-height: normal;
}

.feedback__item textarea {
  height: 89px;
}

.feedback__item.error input,
.feedback__item.error textarea {
  border-color: #f21d8c;
}

.feedback__checkbox {
  padding-left: 26px;
  width: calc(100% - 26px);
  text-align: left;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 768px) {
  .feedback__checkbox {
    margin: 0 auto;
    padding-left: 0;
    width: 300px;
  }
}

.feedback__checkbox label {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.feedback__checkbox label:hover, .feedback__checkbox label:focus {
  color: #ffff00;
}

.feedback__checkbox label:hover a, .feedback__checkbox label:focus a {
  color: #ffff00;
}

.feedback__checkbox label:hover a::after, .feedback__checkbox label:focus a::after {
  background-color: #ffff00;
}

.feedback__checkbox label::before {
  position: absolute;
  top: 0;
  left: -26px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 3px;
  content: "";
}

@media (min-width: 768px) {
  .feedback__checkbox label::before {
    top: -3px;
  }
}

.feedback__checkbox label::after {
  position: absolute;
  top: 1px;
  left: -22px;
  width: 6px;
  height: 10px;
  background-color: transparent;
  border-right: 2px solid #f11d8c;
  border-bottom: 2px solid #f11d8c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
}

@media (min-width: 768px) {
  .feedback__checkbox label::after {
    top: -2px;
  }
}

.feedback__checkbox input:checked + label::after {
  opacity: 1;
}

.feedback__checkbox a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feedback__checkbox a::after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
}

.feedback__checkbox a:hover::after, .feedback__checkbox a:focus::after {
  opacity: 0;
}

.feedback__checkbox.error label::before {
  border-color: #f21d8c;
}

.feedback__btn {
  display: block;
  margin: 5px auto 20px;
  min-width: 193px;
  min-height: 45px;
  padding: 7px 30px;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
  color: #000000;
  text-align: center;
  background-color: #ffe300;
  border: none;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.feedback__btn:hover, .feedback__btn:focus {
  background-color: #ffff00;
}

.errorMessage {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #ff1313;
  background-color: rgba(242, 29, 140, 0.8);
  border-radius: 15px;
  -webkit-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  width: 0;
  height: 0;
}

.errorMessage::after, .errorMessage::before {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feedback__item.error .errorMessage {
  width: auto;
  height: auto;
  padding: 15px 20px 15px 60px;
  opacity: 1;
  visibility: visible;
}

.feedback__item.error .errorMessage::after {
  position: absolute;
  z-index: 0;
  left: 15px;
  top: -15px;
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ff1313;
  border-bottom: 15px solid rgba(242, 29, 140, 0.8);
  width: 0;
  height: 0;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-animation: fadeInFromNone 0.3s ease-out;
          animation: fadeInFromNone 0.3s ease-out;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}

.feedback__item.error .errorMessage::before {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 15px;
  content: "!";
  width: 33px;
  height: 33px;
  margin-right: 15px;
  padding: 5px 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  font: inherit;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: fadeInFromNone 0.3s ease-out;
          animation: fadeInFromNone 0.3s ease-out;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}

.feedback__checkbox .errorMessage {
  top: 32px;
  left: -7px;
}

.form-success {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  color: #ffe300;
  text-align: center;
  padding: 30px 20px;
}

.feedback.success form {
  display: none;
}

.feedback.success .form-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* feedback end */
.footer {
  position: relative;
  padding-bottom: 101px;
  background-color: #f7e200;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 500;
  color: #000000;
  text-align: center;
  overflow-y: hidden;
}

@media (min-width: 991px) {
  .footer {
    background: url("../images/feedback-bg.png") no-repeat center/cover transparent;
  }
  .footer::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 137px;
    background: url("../images/bg-btm-violet.svg") no-repeat center/cover transparent;
    content: "";
  }
}

.footer__bg {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 101px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer .logo {
  width: 213px;
  margin: 31px 0;
}

@media (min-width: 768px) {
  .footer .logo {
    margin: 0;
  }
}

@media (min-width: 991px) {
  .footer .logo {
    width: 248px;
    margin: 0 0 0 80px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 28px;
  }
}

.footer__container a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000000;
  text-decoration: none;
}

.footer__container a::after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
}

.footer__container a:hover::after, .footer__container a:focus::after {
  opacity: 0;
}

.footer__privacy-policy {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__privacy-policy {
    margin: 0;
  }
}

.footer__copyright {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }
}
