.anchor-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.anchor-links__item {
    width: 25%;
    border: 1px solid transparent;
}

@media (max-width: 991px) {
    .anchor-links__item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .anchor-links__item {
        width: 100%;
    }
}

.anchor-links__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 19px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    background-color: #0094da;
    transition: all 0.3s ease;
}

.anchor-links__link:hover,
.anchor-links__link:focus {
    background-color: #ffffff;
    color: #19446b;
}

.comparison {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 30px;
}

.comparison table {
    position: relative;

    width: 100%;

    border-collapse: collapse;
    border: 0;

    table-layout: fixed;
}

.comparison table::before {
    position: absolute;
    right: 0;
    top: -30px;

    width: calc(100%/3);
    height: calc(100% + 60px);

    background-color: #005aab;
    border-radius: 10px;

    content: "";
}

.comprasion table::after {
    position: absolute;
    z-index: 2;
    right: 0;
    top: -50px;

    width: 50px;
    height: 50px;

    background: url('icon-good.svg') no-repeat center transparent;
    content: "";
}

.comparison thead,
.comparison tbody {
    position: relative;
    z-index: 3;
}

.comparison tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.comparison th {
    font-size: 20px;
    text-align: center;
}

.comparison th:last-child {
    font-size: 26px;
}

.comparison td {
    font-size: 15px;
}

.comparison td:last-child {
    font-size: 18px;
    text-align: center;
}

.comparison th,
.comparison td {
    width: calc(100% / 3);
    padding: 10px 20px;
    background-color: #0094da;
    color: #ffffff;
}

.comparison th:first-child {
    border-top-left-radius: 10px;
}

.comparison td:first-child,
.comparison th:first-child {
    background-color: #ffffff;
    color: #005aab;
}

.comparison th:last-child,
.comparison td:last-child {
    background-color: #005aab;
}

@media (max-width: 991px) {
    .comparison th {
        font-size: 16px;
        text-align: center;
    }

    .comparison th:last-child {
        font-size: 20px;
    }

    .comparison td {
        font-size: 12px;
    }

    .comparison td:last-child {
        font-size: 14px;
        text-align: center;
    }

    .comparison th,
    .comparison td {
        padding: 10px 15px;
    }
}

@media (max-width: 767px) {

    .comparison {
        overflow-x: auto;
    }

    .comparison table::before,
    .comparison table::after {
        display: none;
    }

    .comparison table {
        min-width: 750px;
    }

    .comparison th,
    .comparison td {
        min-width: 250px;
    }

    .comparison th:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .comparison tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
}


/*Video*/

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 68.6%;
    margin-bottom: 20px;
    display: block;
    border-radius: 3px;
    background-color: #000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;
}

.video:hover .video__btn {
    opacity: 1;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    height: 100%;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.video__link img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.video__link::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #000000;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
}

.video__link::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: calc(50% + 14px);
    border: 18px solid transparent;
    border-left: 34px solid #000000;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
}

.video__link:hover::before,
.video__link:focus::before {
    border-color: #0094da;
}

.video__link:hover::after,
.video__link:focus::after {
    border-left-color: #0094da;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
}

.table-text-blue td {
    color: #0094da;
}

.prices-accordion {
    position: relative;
    overflow-x: auto;
}

.prices-accordion ul {
    min-width: 500px;
}

.autoheight {
    height: auto;
}