/* Extended css styles */


.visible-tablet-mobile {
    display: none;
}

@media (max-width: 992px) {
    .visible-tablet-mobile {
        display: block !important;
    }
}


@media (min-width: 1270px) {

    .slick-controls--light .slick-next--arrow,
    .slick-controls--light .slick-prev--arrow {
        width: 112px;
    }

    .landing-testimontial-carousel.slick-controls--light .slick-prev--arrow,
    .index-doctor__container .slick-prev--arrow {
        left: -80px;
    }

    .landing-testimontial-carousel.slick-controls--light .slick-next--arrow,
    .index-doctor__container .slick-next--arrow {
        right: -80px;
    }

    .index-doctor__container .slick-prev--arrow {
        left: -20px;
    }

    .index-doctor__container .slick-next--arrow {
        right: -20px;
    }
}



.block-katarakta-stages .circle-stage:nth-of-type(5) {
    margin-left: 150px;
    margin-top: 30px;
}


a.text--big.text--brightblue:hover {
    text-decoration: underline;
}

.advatages-item__icon img {
    max-height: 86px;
}

.img-border {
    position: relative;
}

.img-border:after {
    content: '';
    width: 93%;
    height: 93%;
    position: absolute;
    border: 1px solid #2ab9fd;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}


.doctor-direct .h1.text-white.single-doctor-banner__title a {
    color: #fff;
}

.doctor-direct .h1.text-white.single-doctor-banner__title a:hover {
    text-decoration: underline;
    ;
}

.block-katarakta-reasons .katarakta-reasons-list .katarakta-reason .katarac-reason__body {
    min-width: 100%;
    min-height: 140px;
}


.discount-side a .discount-side__content {
    color: #fff;
}

.new-collapse-text {
    color: #fff;
    margin-top: 40px;
    padding: 40px 40px;
    border: 2px solid #fff;
}

.new-collapse-text p:last-child {
    margin-bottom: 0px;
}


.fancybox-slide .modal-directions-block {
    max-width: 800px;
    height: auto;
    width: 90%;
    max-height: 80%;
    margin: 0;
    background: url(../img/landing/bg-5.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 40px;
}

.feedback-block-post .btn.btn--yellow,
.feedback-block-news .btn.btn--yellow {
    margin-top: 30px;
    color: #000 !important;
}

.ekspert {
    width: 97%;
    text-align: center;
    margin-top: 20px;
}

/*
.banner-block.block-lasik__1 {
    background: #0094da url(../img/landing/slide.jpg) no-repeat center top;
}
*/
.banner-block.block-lasik__1 {
    background: #0094da url(../content/images/laser_cor.jpg) no-repeat center top;
}

.content .col-sm-9 p {
    line-height: 1.8;
}

.second-kataracta {
    background-size: cover;
}

.block-lasik__7 .diagnostic-enter .warning {
    margin-bottom: 50px;
}

.block-lasik__7 .st-content {
    padding: 20px 25px 0px;
}

.enteries-list .entery a.btn.btn--yellow {
    /* width: 288px; */
    padding: 0 15px;
}

.enteries .enteries-list .entery__limitation {
    margin-left: 20px;
}


.block-katarakta-reasons section.index-about {
    margin-top: 0px;
}

.block-bg--blue.katarakta-price .container {
    position: relative;
    z-index: 10;
}

.index-about__img span {
    position: absolute;
    bottom: 20px;
    /* z-index: 10; */
    right: 19%;
}

@media (max-width: 768px) {
    .ekspert {
        position: absolute;
        width: 100vw;
        left: -16px;
        top: calc(100% - 15px);
    }

    .table {
        overflow-y: scroll;
        padding-bottom: 20px;
    }

    .table.table-light thead th:first-child {
        position: relative;
        padding-right: 45px;
    }

    .table.table-light thead th:first-child:before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        background: url(../content/images/icons/swipe.png);
        background-repeat: no-repeat;
        background-position: 96% 50%;
        background-size: auto 30px;
        z-index: 100;
    }

}



.block-lasik__6 {
    padding: 60px 0px 20px;
}

.block-lasik__5 {
    padding: 60px 0px 60px;
}

.aptekaru {
    text-align: center;
}


.aptekaru a {
    background: #0b64a8;
    padding: 2px 30px 2px 20px;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid #0b64a8;
}

.aptekaru a:hover {
    border: 3px solid #ffdf2c;
}

.content-block .float-block__image {
    max-width: 30%;
}

.content .index-about__img {
    max-width: 80%;
}

@media (min-width: 1025px) {

    .content .index-about__img {
        max-width: 60%;
    }



    .numbers-block .number-block-item {
        min-height: 120px;
    }

    .numbers-block,
    .numbers-block.numbers-block--katarakta,
    .numbers-block.numbers-block--glaukoma {
        position: relative;
    }

    .numbers-block:before,
    .numbers-block.numbers-block--katarakta:before,
    .numbers-block.numbers-block--glaukoma:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: -55px;
        height: 57px;
    }

    .numbers-block:before {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #0094da), to(transparent));
        background: linear-gradient(to top, #0094da 0%, transparent 100%);
    }

    .numbers-block.numbers-block--katarakta:before {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #005bac), to(transparent));
        background: linear-gradient(to top, #005bac 0%, transparent 100%);
    }

    .numbers-block.numbers-block--glaukoma:before {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #506cc6), to(transparent));
        background: linear-gradient(to top, #506cc6 0%, transparent 100%);
    }
}


@media (max-width: 768px) {
    .sidebar .articles-popular .articles-popular__item {
        flex-direction: initial;
    }
}


.entery__btn_promo a.btn {
    margin: 0 auto;
}

.sidebar .articles-popular__content a {
    line-height: 1.3 !important;
}

.sidebar .articles-popular__image {
    width: 100%;
}

.sidebar .articles-popular__content .articles-popular__date {
    display: none;
}

.main-slider .main-slider__item .main-slider__iner.mobile {
    display: none;
}

@media (max-width: 600px) {
    .main-slider .main-slider__item .main-slider__iner.mobile {
        display: block;
    }
}



.content-block p {
    line-height: 1.5;
}

aside.sidebar .slick-list.draggable {
    background: #005aab;
}

.sidebar .sidebar-slider,
.sidebar .articles-popular,
.sidebar .sale-side,
.sidebar .fb-page {
    margin-bottom: 30px;
}

.entery__btn_promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.entery__btn_promo .entery__limitation {
    margin-left: 20px;
}

.doctor-inner__form .form-group.form-group-checkbox a {
    color: #fff;
    text-decoration: underline;
}

.doctor-inner__form .form-group.form-group-checkbox {
    color: #fff;
    /* font-size: 16px; */
}


ul.doctor-inner__adress-list li {
    position: relative;
    padding: 0 0 0 20px;
}

ul.doctor-inner__adress-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 6px;
    background: url(../img/icons/crumbs.png);
}

.doctor-inner__adress .smp-text {
    display: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
    cursor: initial;
}

.smp-text,
.doctor-inner__adress-title b {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.subtitle {
    margin-bottom: 15px;
}



.footer .footer-akcii__item h4 {
    font-size: 16px;
    margin-bottom: 40px !important;
}

ul.general-list li p {
    margin: 0;
}

hr+p {
    margin-top: 30px;
}

.footer .footer-akcii .footer-akcii__title {
    margin-top: 0px;
}

ul.sitemap-html li {
    margin: 6px 0px;
}

ul.sitemap-html li a {
    text-decoration: underline;
    /* border-bottom: 1px solid #005aab; */
}

.row.error-block .col-sm-5 p {
    margin-bottom: 10px;
}

.error-block-text {
    /*text-align: center;*/
    padding-top: 40px;
}

.error-block-img {
    /*text-align: center;*/
}

.row.error-block {
    padding-bottom: 50px;
}

@media (min-width:768px) {
    .row.error-block {
        padding: 80px 0px 80px;
    }
}



@media (min-width:400px) {
    .error-block-text h1 {
        text-transform: uppercase;
        font-size: 66px;
        line-height: 1;
    }

    .error-block-text p {
        font-size: 20px;
    }
}



.feedback-lead-img {
    /*width: 0px;*/
    position: relative;
    right: 0px;
}

.feedback-block-post {
    background: #fff;
    padding: 20px 0px 10px;
}

.feedback-block-news {
    padding: 20px 0px 10px;
}

.feedback-block-page {
    background: #efefef;
    padding: 10px 0px;
}


h2+h3 {
    margin-top: 0px;
}

.feedback-block-page .col-sm-3.line-news__item .line-news__image img,
.block-lasik__9 .line-news__image img {
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.feedback-block-page .line-news .line-news__title {
    font-size: 16px;
}


.feedback-block-page .line-news .line-news__image,
.block-lasik__9 .line-news__image {
    position: relative;
    height: 170px;
    overflow: hidden;
    margin-bottom: 12px;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
    .feedback-block-page .line-news .line-news__image {
        height: 230px;
        transform: initial;
        top: initial;
    }
}


.feedback-complete h1+p {
    text-align: center;
    margin-top: -20px;
    line-height: 1.6;
}


.feedback-lead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.feedback-lead-text {
    max-width: 410px;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}

.btn.btn--blue {
    background: #0094da;
    border: 3px solid #0094da;
    color: #fff !important;
    margin-bottom: 30px;
}

.btn.btn--blue:hover {
    background: transparent;
    color: #0094da !important;
}


h2 {
    line-height: 1.3;
    font-size: 1.5em;
}

a.header__work-time {
    color: #005aab;
    font-weight: 500;
    text-decoration: underline;
    /* padding-left: 15px; */
    font-size: 0.9rem;
    display: block;
    position: relative;
}

a.header__work-time:hover {
    text-decoration: none;
}

.float-block:after {
    content: '';
    display: inherit;
    clear: both;
}

.float-block+h3 {
    margin-top: 0px;
}

.content-block h2,
.content-block h3 {
    margin-top: 30px;
}

.clearfix+h3 {
    margin-top: 0px;
}

h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.title-page h3 {
    font-weight: 400;
}

ol.list li {
    display: -webkit-box;
}

ol {
    margin: 10px 0px 30px;
}

p+ol {
    margin-top: -20px;
}

ol li {
    padding: 2px 0px 2px 30px;
    position: relative;
}

ol li:before {
    /*display: inline-block;
    width: 28px;*/
    display: inline-block;
    position: absolute;
    left: 0px;
}


.doctor-direct img {
    max-width: 100%;
    padding: 0px 0px 0px 10px;
}

@media (min-width: 1200px) {
    .doctor-direct img {
        min-width: 240px;
    }
}

.doctor-direct a.btn.btn--yellow.btn--action {
    margin-bottom: 20px;
    margin-left: 30px;
}

a.btn.btn--yellow.btn--action.btn-direct:hover {
    border-color: #005aab;
    color: #005aab !important;
}

.direction .table {
    margin-bottom: 20px;
}

.direction ol.list {
    margin-bottom: 20px;
}

.single-doctor-banner.text-white.blue-bg.doctor-direct {
    margin-bottom: 10px;
}

.direction table.table.table-light.myopia-doctors img {
    max-width: 260px;
}

.single-doctor-banner.text-white.blue-bg.doctor-direct .col-sm-3 {
    display: flex;
    align-items: flex-end;
}

.direction .float-block__image img {
    max-width: 350px;
}

.direction .doctor__item.col-sm-4 {
    margin: 0px;
    padding: 0px;
}

.direction .doctor-list.row h3.text-center.col-sm-12 {
    text-transform: uppercase;
}

.direction .st-accordion {
    margin-bottom: 30px;
}

.direction .st-accordion ul li {
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 10px;
}

.direction .st-content p {
    padding: 20px;
}

.direction .st-content p:last-child {
    margin-bottom: 0px;
}








.entery__body_blog .entery__title {
    margin-top: 15px;
}

.doctor-inner__num {
    justify-content: flex-start;
}

.doctor-inner__num-item {
    padding-left: 20px;
    padding-right: 5px;
}

.content .doctor-inner .general-list {
    margin: initial;
}

.clearfix {
    clear: both;
}

.entery__image img {
    /*padding-right: 10px;*/
}

.entery__image {
    border-right: 1px solid #f5f5f5;
}

p.lead-old {
    font-family: 'Gotham Pro', sans-serif;
    color: #0094da;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border-left: 4px solid #0094da;
    padding-left: 30px;
}

.accept-links a {
    font-size: 0.8rem;
}

.info-contacts-list li {
    white-space: nowrap;
}

.content-block p strong,
.content-block p b {
    color: #004b8e;
    font-weight: bold;
}

.warning {
    margin-bottom: 20px;
}

p.lead {
    font-family: 'Gotham Pro', sans-serif;
    color: #005aab;
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 21px;
    border-left: 10px solid #005aab;
    padding-left: 20px;
    background: #005aab1c;
}

td.numb p {
    margin-bottom: 0px;
}

.st-content {
    display: none;
}

.st-accordion ul li:first-of-type .st-content {
    display: block;
}

.st-accordion.doctor-gallery ul li:first-of-type .st-content {
    display: none;
}

.doctor-content-block ul li {
    margin: 0px 0px 10px 10px;
    position: relative;
    padding-left: 20px;
}

.doctor-content-block ul li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 6px;
    background: url(../img/icons/crumbs.png);
}


.doctor-gallery .st-content {
    margin-top: 30px;
}


a.doctor-gallery-link {
    background: #0094da !important;
    color: #fff !important;
    text-align: center;
    font-size: 24px !important;
    line-height: 1.4 !important;
    padding: 15px 10px !important;
}

.doctor-gallery li {
    height: auto !important;
}





.footer-akcii__item a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.row.gallery-list .gallery-item img {
    width: 100%;
}

.footer-akcii__item p {
    max-height: 70px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.footer-akcii__item p:after {
    content: '';
    background: -webkit-gradient(linear, left bottom, left top, color-stop(23%, #0094da), to(transparent));
    background: linear-gradient(to top, #0094da 10%, transparent 100%);
    display: block;
    height: 60px;
    position: relative;
    bottom: 55px;
}




.col-sm-3 .albom__title {
    height: 70px;
    overflow: hidden;
    position: relative;
}

.col-sm-3 .albom__title:after {
    content: '';
    background: -webkit-gradient(linear, left bottom, left top, color-stop(23%, #fff), to(transparent));
    background: linear-gradient(to top, #fff 10%, transparent 100%);
    display: block;
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: -10px;
}


.overflow-layout p {
    min-width: 350px;
}

nav.main-menu li li:last-child:before {
    content: none;
}

nav.main-menu li li:last-child {
    padding-right: initial !important;
    display: list-item !important;
}

.enteries .enteries-list .entery__image img {
    width: 100%;
}

.main-slider .main-slider__item .main-slider__ballon {
    bottom: 50%;
    transform: translateY(50%);
}

.main-slider__badge {
    margin-top: 15px;
    margin-bottom: 15px;
}

.st-content.my-st-content {
    padding: 20px 15px;
}

.st-content.my-st-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
}




.content .general-list {
    margin: 15px 0px 30px 10px;
}

.content .general-list ul {
    margin: 5px 0px 15px 10px;
}







td.in {
    padding-left: 40px !important;
}

td.number {
    vertical-align: top;
    border-right: 1px solid #ccc;
    padding-right: 10px !important;
}


table.table.table-light.collapse tbody tr:hover {
    background: #f3f3f3;
}

td.number,
th.number {
    display: none;
}

.testimontial-single.long-testimontial .testimontial-inner__bottom {
    margin-top: 40px;
}

.js-testimontial__text.shot {
    padding-bottom: 35px;
}

.pagination {
    margin-top: 60px;
}

.testimontial-filter {
    margin-bottom: 40px;
}

.st-accordion ul li>a.active .st-accordion--open-close {
    border-bottom: 6px solid #fff;
    top: 0px;
    border-top: 6px solid transparent;
}

.direction-treatment .derection-treatment__wrapper {
    justify-content: flex-start;
}

.derection-treatment__item {
    margin: 0 9px 30px 10px;
}






/*******************************************/
/*******************************************/
/*******************************************/


.pre .article_list___img_wrap img {
    /*width: 100%;*/
    padding: 20px;
    height: 100%;
}


.pre .article_list___img_wrap {
    padding: 0px;
    width: 70px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}


@media (max-width:991px) {
    .pre .article_list___img_wrap {
        width: 40%;
        margin-left: 10%;
    }
}

.pre .item.column-1 {
    width: 100%;
    float: left;
}

.pre .article_list__content {
    width: calc(100% - 60px);
    display: inline-block;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 15px;
}

.article_list.partners {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:768px) {
    .pre .article_list___img_wrap {
        padding-right: 5px;
        padding-left: 5px;
        width: 80px;
        text-align: center;
        margin-left: initial;
    }


    .pre .article_list__content {
        width: calc(100% - 70px);
    }


    .pre .article_list___img_wrap img {
        max-width: 250px;
    }

    .pre .item.column-1 {
        width: 100%;
    }
}

@media (max-width:400px) {
    .pre .article_list__content {
        padding-right: 0px;
    }

    .pre .article_list___img_wrap {
        width: 40%;
        text-align: center;
    }

    .article_list.partners {
        text-align: center;
    }

    .pre .article_list__content {
        width: 100%;
    }
}


.item-separator {
    height: 0px;
    line-height: 0px;
}

.article_list__content p {
    margin: 0px;
}

.item.column-1 {
    margin-bottom: 32px;
}

.item.column-1:last-child {
    margin-bottom: 0px;
}

.pre {
    padding: 40px 40px;
    background: rgba(0, 90, 171, 0.1);
    margin-bottom: 30px;
}

.pre:after {
    content: '';
    clear: both;
    display: block;
}

h3.pre-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 26px;
}


.pre .article_list___img_wrap {
    padding: 0px;
    width: 70px;
    height: 70px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    background: url(../img/pre_abstract.png) no-repeat center center/contain;
    background-size: contain;
    background-position-x: 1px;
    text-align: center;
}











.pre.icons-direct .article_list___img_wrap {
    background: #005aab;
}

.pre.icons-direct .article_list___img_wrap img {
    padding: 14px;
}


.pre.icons-direct h3.pre-title {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 16px;
}

.pre.icons-direct {
    background: none;
    padding: 0px;
}

.article_list__content h4 {
    color: #19446b;
    margin-bottom: 5px;
}



/*******************************************/
/*******************************************/
/*******************************************/


.direction .col-sm-9 ul li:before,
.direction .col-sm-12 ul li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 6px;
    background: url(../img/icons/crumbs.png);
}

.direction .col-sm-9 ol li,
.direction .col-sm-12 ol li {
    position: relative;
    padding: 2px 0 2px 30px;
}

.direction .col-sm-9 ul,
.direction .col-sm-12 ul {
    padding-bottom: 5px;
}

.politics ol li {
    padding: 2px 0px 10px 30px;
    position: relative;
}

.politics ol li:before {
    display: inline-block;
    position: absolute;
    left: 0px;
}

.slick-dots button {
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin-top: 4px;
    margin-left: -1px;
    width: 13px;
    height: 13px;
}

.slick-dots li {
    width: 33px;
    height: 33px;
}








.float-block .float-block__image.float-block__image--right {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 50%;
}

.block-lasik__5 ol li,
.tab-block ol li {
    display: flex;
}

.block-lasik__5 ol li strong,
.tab-block ol li strong {
    color: #0094da;
}

.diagnostic-enter {
    width: 90%;
    margin: 60px auto;
}

.pokazania .bordered-block {
    max-width: initial;
    margin-bottom: 10px;
}

.pokazania p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-block p.text-white.fz-14 {
    max-width: initial;
    font-size: 14px;
}

.banner-block__vision-diagnostics .banner-block__content {
    padding-top: 60px;
}

.banner-block__vision-diagnostics {
    background: url(../content/images/vrach-diagnost.png) no-repeat;
    padding-top: 0;
    background-position-x: right;
    background-size: contain;
    /*padding-bottom: 100px;*/
}

.bordered-block .bordered-block__item.col-sm-6 {
    text-align: center;
    border: 1px solid #bed6eb;
    padding: 20px 30px;
    display: inline-block;
    width: 33%;
    font-size: 21px;
    line-height: 30px;
}

.bordered-block .bordered-block__item.col-md-3 {
    text-align: center;
    border-right: 1px solid #bed6eb;
    padding: 30px 25px;
    display: inline-block;
    width: 100%;
    font-size: 21px;
    line-height: 30px;
}

p.red {
    color: #b1272f;
    font-weight: bold;
}

.bordered-block__item.col-sm-3 h4 {
    line-height: 1.3;
}





.advatages-diagnostic .advetages-item .advantages-item__title {
    font-size: 18px;
    font-family: 'Gotham Pro', sans-serif;
    color: #70d1ff;
    line-height: 22px;
    text-align: center;
    padding: 0 0px;
    margin-bottom: 20px;
}

.diagnostic-enter ol li:before,
.tab-block ol li:before {
    padding-right: 10px;
}

.block-lasik__5 .diagnostic-enter {
    margin: 0 auto;
}




/************************/

.circle-stage-diagnostic div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.circle-stage-diagnostic {
    margin-bottom: 40px;
    margin-right: 20px;
}

.circle-stage-diagnostic .circle-stage__text {
    max-width: calc(100% - 142px);
}

@media (min-width: 1201px) {
    .circle-stage-diagnostic {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;
    }

    .circle-stage-diagnostic:nth-child(even) .circle-stage__text {
        position: absolute;
        width: calc(50% - 66px);
        max-width: initial !important;
        margin-left: 0px;
        padding-left: 60px;
        left: calc(50% + 66px);
    }

    .circle-stage-diagnostic:nth-child(odd) .circle-stage__text {
        position: absolute;
        width: calc(50% - 66px);
        max-width: initial !important;
        margin-left: 0px;
        padding-right: 60px;
        left: 0px;
    }


    .circle-stage-diagnostic:last-child {
        margin-bottom: 0px;
    }

    .circle-stage-diagnostic .circle-stage__text {
        margin-top: 15px;
    }

    .circle-stage-diagnostic:first-child .circle-stage__text {
        margin-top: 0px;
    }






    .circle-stage-diagnostic:nth-child(1) .circle-stage__label:after,
    .circle-stage-diagnostic:nth-child(3) .circle-stage__label:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 26px;
        height: 114px;
        background: url(../content/images/elips.png);
        background-size: cover;
        right: -30px;
        bottom: -66px;
    }

    .circle-stage-diagnostic:nth-child(2) .circle-stage__label:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 26px;
        transform: scaleX(-1);
        height: 114px;
        background: url(../content/images/elips.png);
        background-size: cover;
        left: -30px;
        bottom: -66px;
    }


}








/***********start TABS**************/

.simple_tabs_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
    display: inline-flex;
}

.simple_tabs_nav li {
    padding: 0 !important;
    background: none !important;
    flex-grow: 1;
}

.simple_tabs_nav li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #eee;
    border-right: 1px solid #fcfbc7;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 16px;
    color: inherit;
    width: 100%;
    text-align: center;
}

.simple_tabs_nav li a:hover {
    background-color: #f8f8f8;
}

.simple_tabs_nav li:last-child a {
    border-right: none;
}

.simple_tabs_nav li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #005aab;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.simple_tabs_nav li.current a::before {
    opacity: 1;
}

.simple_tabs_nav li.current a {
    background-color: #005aab;
    color: #fff;
}

/***********end TABS**************/


.ol-warning {
    padding-top: 0px;
    margin-bottom: 30px;
}


@media (max-width: 991px) {

    .banner-block.banner-block-2>div,
    .banner-block.block-lasik__1,
    .banner-block-glaukoma>div {
        background: #0094da linear-gradient(45deg, #00adcb, #0094da);
    }

    .simple_tabs_nav {
        display: inline-block;
    }

    .simple_tabs_nav li a::before {
        content: none;
    }


    .numbers-block {
        flex-wrap: wrap;
        justify-content: initial;
    }

    .numbers-block .number-block-item {
        width: 50%;
    }

    .numbers-block .number-block-item .number-block-item__header {
        position: initial;
        color: #000;
    }

    .numbers-block.numbers-block--katarakta {
        margin-top: -40px;
    }

    .banner-block p {
        max-width: initial;
    }

    .content .index-about__img {
        max-width: 100%;
    }

    .index-about__img span {
        display: none;
    }


    .lasik-stages .lasik-stages__title,
    .lasik-stages .lasik-stage-item {
        width: 50%;
        padding: 10px 20px;
    }

    .container.banner-block--top.banner-block__glaukoma {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .block-landing-form__image+.container {
        position: relative;
        z-index: 99999;
    }

    .advice-block .advices-list .advice {
        flex-basis: 33%;
        max-width: 33%;
    }

    .sunflower-img+.container {
        z-index: 9999;
        position: relative;
    }

    .mobile-menu {
        z-index: 999999;
    }

    .block-bg--blue.block-lasik__3 h2 {
        text-align: center;
    }

    .index-about .index-about__content {
        padding-bottom: 30px;
    }

    .block-katarakta-reasons section.index-about {
        margin-bottom: 0px;
    }

    .advices-list {
        padding: 0px 20px;
    }

}


@media (max-width: 767px) {
    .advice-block .advices-list .advice {
        flex-basis: 100%;
        max-width: 100%;
    }

    .lasik-stages .lasik-stages__title,
    .lasik-stages .lasik-stage-item {
        width: 100%;
        padding: 0 15px;
    }

    .numbers-block {
        display: none;
    }

    .block-lasik__2 {
        padding-top: 30px;
    }

    .container.banner-block--top.banner-block__glaukoma {
        padding-bottom: 0px;
    }



    .banner-block .banner-block--lasik {
        padding-bottom: 0px;
    }



    .circle-stage-diagnostic .circle-stage__text {
        width: 100%;
        max-width: initial;
        text-align: left;
    }

    .circle-stage-diagnostic {
        text-align: center;
    }

}

span.red-price {
    padding: 0px !important;
}


section.index-doctor.for-page-slider {
    margin-bottom: 30px;
    margin-top: 30px;
}

.index-doctor.for-page-slider .index-doctor__btn {
    text-align: center;
    margin-top: 20px;
}

.content .doctor__text p {
    line-height: 22px;
}

#st-accordion ul li:before {
    content: none;
}

#st-accordion ul li {
    padding-left: 0px;
}


section.index-doctor.for-page-slider .doctor__text {
    min-height: 300px;
}


.footer .footer-social ul li a {
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 19px;
}

.footer .footer-social ul li {
    margin-right: 6px;
}


@media (max-width: 1199px) {
    .footer .footer-social ul li a {
        width: 39px;
        height: 39px;
        line-height: 39px;
        font-size: 18px;
    }
}

.header__top-menu-wrapper {
    position: relative;
}

.whatsapp-icon {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 15px;
    transition: .4s ease 0s;
}

.whatsapp-icon img {
    width: 41px;
}

.whatsapp-icon span {
    display: inline-block;
    border-bottom: 1px solid #d4d4d4;
    line-height: 1;
    margin-left: 12px;
}

.header__worktime {
    display: none;
}

.whatsapp-icon:hover {
    color: #55cd6c;
}

.header .header__middle .header__middle-row .header__logo {
    text-align: center;
}

.header__descriptor {
    display: block;
    font-size: 12px;
    color: #000;
    margin-top: 6px;
}

.special-ver .header__descriptor {
    display: none;
}

@media (max-width: 960px) {
    .header__worktime {
        display: flex;
    }
}

@media (max-width: 766px) {
    .header__descriptor {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .header .header__middle .header__middle-row .header__contacts {
        margin-top: 10px;
    }

    .whatsapp-icon {
        font-size: 0;
    }

    .header .header__middle .header__middle-row .header__logo {
        padding-left: 0;
    }
}

.slick-controls--light .slick-arrow {
    z-index: 99;
}

.footer .footer-akcii .footer-akcii__title {
    padding-bottom: 25px;
}

.main-slider .main-slider__item {
    position: relative;
}

.main-slider__item.test-slider {
    padding-top: 0;
    height: auto;
    background: none !important;
}

.main-slider__item.test-slider .main-slider__bg-mob {
    display: none;
}

.main-slider__item.test-slider .main-slider__bg-desk {
    display: block;
}

@media (max-width: 640px) {
    .main-slider__item.test-slider .main-slider__bg-mob {
        display: block;
    }

    .main-slider__item.test-slider .main-slider__bg-desk {
        display: none;
    }

    .main-slider .main-slider__item:before,
    .main-slider .main-slider__item .main-slider__iner.mobile {
        display: none;
    }
}





.testimontial-filter {
    margin-bottom: 0px;
}

.testimontial-inner {
    padding: 10px 0 0;
}

.widget-review {
    max-width: min-content;
    margin-left: auto;
    text-align: left;
}

@media (max-width: 991px) {
    .accept-links {
        display: block;
        width: 100%;
        text-align: center;
    }

    .copyright {
        text-align: center;
    }
}

.slider_lasik {
    padding: 30px 0px 70px;
}

.slider_lasik-item {
    outline: none;
}

.block-lasik-text {
    color: #fff;
    padding: 20px 30px 20px 10px;
}

.block-lasik-img {
    color: #fff;
}

.slider_lasik-item h3 {
    color: #29b7e5;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 5px;
    padding: 0px !important;
}

.slider_lasik-item h4 {
    font-size: 17px;
    font-weight: 400;
}

.slider_lasik-cost {
    margin: 40px 0px 40px;
}

.slider_lasik-cost p {
    margin: 10px 0px 10px;
    font-size: 20px;
}

.slider_lasik-cost p:first-child {
    font-weight: bold;
    color: #000;
    background: #ffdf2c;
    border: 3px solid #ffdf2c;
    border-radius: 5px;
    display: inline-block;
    margin: 0px;
    padding: 10px 20px;
}

.block-lasik-text>p {
    font-size: 14px;
    line-height: 1.8;
    margin: 10px 0px;
}

.block-lasik-text>*:first-child {
    margin-top: 0px;
}

.block-lasik-text>*:last-child {
    margin-bottom: 0px;
}

.slider_lasik .slick-dots {
    bottom: 30px;
}

.slider_lasik .row {
    align-items: center;
}

.slider_lasik .slick-prev--arrow {
    border: none;
    background: url(../img/icons/ar-left-w.png);
    width: 92px;
    height: 112px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    -webkit-transition: .3s ease 0s;
    transition: .3s ease 0s;
    transform: translateX(-75%);
}

.slider_lasik .slick-next--arrow {
    border: none;
    background: url(../img/icons/ar-right-w.png);
    width: 92px;
    height: 112px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    -webkit-transition: .3s ease 0s;
    transition: .3s ease 0s;
    transform: translateX(75%);
}


@media (max-width: 991px) {
    .slider_lasik .row {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .slider_lasik .row>div:nth-child(1) {
        order: 2;
    }

    .slider_lasik .row>div:nth-child(2) {
        order: 1;
    }
}

.slider_lasik span.rub {
    display: inline-block;
    position: relative;
    font-size: 18px;
}

.slider_lasik span.rub:after {
    content: '';
    width: 8px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 6px;
    left: 0;
    font-size: 18px;
}


.st-accordion ul li>a {
    line-height: 1.4;
    padding: 15px 20px;
}


.price.mb-1+h3.text-white {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    border-top: 1px dashed #a7a7a7;
}

ymaps.ymaps-2-1-77-balloon__content>ymaps {
    width: auto !important;
    max-width: 500px;
}

.container.contacts_title .title-page {
    display: inline-block;
}

.doctor-inner__signup {
    margin: 30px 0px 10px;
}

.footer-akcii {
    max-width: 300px;
}

.footer-akcii {
    overflow: hidden;
}

.footer-akcii .slick-prev--arrow {
    left: -60px;
}

.footer-akcii .slick-next--arrow {
    right: -60px;
}

.footer-akcii .slick-arrow {
    top: -150px;
}

@media (max-width: 600px) {
    .footer__promotions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-akcii .slick-arrow {
        top: 50px;
    }

    .footer-akcii .slick-prev--arrow {
        left: -65px;
    }

    .footer-akcii .slick-next--arrow {
        right: -45px;
    }

    .footer .footer-akcii {
        padding: 30px 30px 0;
    }

    .footer .footer-akcii .footer-akcii__item h4 {
        margin-left: 0;
    }
}